services:
  transcendence_backend:
    build:
      context: ./backend
    image: "transcendence_backend:latest"
    container_name: backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    volumes:
      - backend_data:/app/data
      - backend_img:/app/img
      - backend_srcs:/app/srcs
    networks:
      - monitoring

  transcendence_frontend:
    build:
      context: ./frontend
      target: production
    image: "transcendence_frontend:latest"
    container_name: frontend
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - transcendence_backend

  transcendence_node_exporter:
    image: prom/node-exporter:latest
    container_name: transcendence_node_exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "10101:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alerts.yml:/etc/prometheus/alerts.yml
      - prometheus_data:/prometheus
    depends_on:
      - transcendence_backend
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    networks:
      - monitoring

  
volumes:
  backend_data:
    driver: local
  backend_srcs:
    driver: local
  backend_img:
    driver: local
  prometheus_data:
    driver: local

networks:
  monitoring:
    driver: bridge
