services:
  transcendence_backend:
    build:
      context: ./backend
    container_name: backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./backend/data:/app/data
      - ./backend/img:/app/img
      - ./backend/srcs:/app/srcs

  transcendence_frontend:
    build:
      context: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - transcendence_backend
    volumes:
      - ./frontend/srcs:/usr/share/nginx/html/srcs/languages
